<section class="hero is-info is-bold is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item">
                            Progetti
                        </a>
                        <a class="navbar-item">
                            Chi sono
                        </a>
                        <a class="navbar-item">
                            Tecnologie
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title is-1">
                Nicolò Abatecola
            </p>
            <p class="subtitle is-3">
                Analista programmatore Java
            </p>
        </div>
    </div>
</section>